PORT=3456
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
OMNIBUS_SECRET=
MERCHANT_SECRET=
PUBLIC_BASE_URL=http://localhost:3456
DEMO_ORGANIZATION_ID=00000000-0000-4000-8000-000000000001
